@import "./normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__img-container {
    margin: 0 auto;
    width: 50%;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    height: 30px;
    width: 20%;
    border: none;
    background-color: black;
    color: white;
  }
}
